In [1]:
#Create a set
S={10,22.5,'Poonam',True}

In [3]:
#Unordered
print(s)

{True, 10, 'Poonam', 22.5}

In [4]:
S

{10, 22.5, 'Poonam', True}

In [5]:
#Duplicates are not allowed in set
S={10,22.5,'Poonam',True,10}

In [6]:
S

{10, 22.5, 'Poonam', True}

In [7]:
#To find the length using len() function
len(S)

4

In [8]:
#To find the type of data structre using type() function
type(S)

set

In [9]:
#Set items are Unchangable

In [10]:
#Addition of elements in set
S={10,22.5,'Poonam',True,10}
S.add('Komal')
print(S)

{True, 10, 'Poonam', 22.5, 'Komal'}

In [11]:
#Removal of element in set
S={10,22.5,'Poonam',True,10}
S.remove(10)

In [12]:
S

{22.5, 'Poonam', True}

In [13]:
S={10,22.5,'Poonam',True,10,'Komal'}
S.remove('Komal')

In [14]:
S

{10, 22.5, 'Poonam', True}

In [16]:
#Updating multiple elements in set
S={10,20,30}
S.update([1,2,3])
print(S)

{1, 2, 3, 10, 20, 30}

In [18]:
#Union in python set
S1={1,2,3}
S2={10,20,30}
S1.union(S2)

{1, 2, 3, 10, 20, 30}

In [19]:
#Intersection in python set
S1={1,2,3,50}
S2={10,20,30,50}
S1.intersection(S2)

{50}