In [1]:
x='Poonam'

In [2]:
y='a'

In [3]:
print(y in x)

True

In [4]:
print(y not in x)

False

In [5]:
#Tuple_its Fuctions and Methods

In [6]:
#Creation of Tuple
a=(10,22.5,'Poonam',True)

In [7]:
a

(10, 22.5, 'Poonam', True)

In [8]:
#To find the type of data structre using type() function
type(a)

tuple

In [9]:
#indexing and slicing
a[0]

10

In [10]:
a[-1]

True

In [11]:
a[1:3]

(22.5, 'Poonam')

In [12]:
a[:2]

(10, 22.5)

In [13]:
a[-2]

'Poonam'

In [14]:
#Tuples are immutable

In [15]:
#To find the total number of elements in tuple use len() functions
len(a)

4

In [16]:
#Concatenate tuple1 with tuple2 elements
x=(1,2,3)
y=(4,5,6)

In [18]:
#To find the type of data structre using type() function
type(x)
type(y)

tuple

In [19]:
x,y

((1, 2, 3), (4, 5, 6))

In [20]:
x+y

(1, 2, 3, 4, 5, 6)

In [21]:
y+x

(4, 5, 6, 1, 2, 3)

In [22]:
a=(10,'Poonam',20,30)
b=(1,2,3,4)

In [23]:
#Concatenation of tuple
a+b

(10, 'Poonam', 20, 30, 1, 2, 3, 4)

In [24]:
#Functions of Tuples

In [25]:
#min and max function to find minimum and maximum value
x=(1,2,3)

In [26]:
min(x)

1

In [29]:
max(x)

3

In [30]:
a=('Poonam','Komal','Divyani','Samiksha')

In [31]:
min(a)

'Divyani'

In [32]:
max(a)

'Samiksha'

In [33]:
b=('a','b','c','d')

In [34]:
min(b)

'a'

In [35]:
max(b)

'd'

In [1]:
x=(1,2,3)

In [2]:
#Repeating the tuple elements
x*3

(1, 2, 3, 1, 2, 3, 1, 2, 3)